<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Software Developer: Python Django DRF SQL Agile Practices" />
    <meta name="author" content="Augustine Jibunoh" />
    <meta name="keywords" content="Python Django Javascript">
    <link rel="icon" href="{% static 'vendor_1/images/icon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

    <title>Augustine Jibunoh</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor_2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'vendor_1/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor_1/css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor_1/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor_1/css/lightbox.css' %}" />
</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="{% static 'vendor_1/images/dp.jpeg' %}" alt="display picture"
                                style="height: 150px; width: 150px;" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Augustine Jibunoh</h4>
                        <span>Software Developer</span>
                        <br>
                        <span>+234902 890 6357</span>
                        <br>
                        <span>Lagos, Nigeria</span>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">About Me</a></li>
                            <li><a href="#section2">Skill Sets</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#section4">Contact Me</a></li>
                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://github.com/sparkyPythoneer"><i class="fa fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/augustine-jibunoh"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/sparkyPythoneer"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://facebook.com/jibunoh.augustine"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://chatwith.io/s/augustine-jibunoh"><i class="fa fa-whatsapp"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>&copy; 2022 sparky_pythoneer</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2>About Me</h2>
                    <div class="line-dec"></div>
                    <span>An ardent software developer who is dedicated to ingeniously
                        building software products in-line with users’ stories. I am
                        result oriented with the ability to work collaboratively with
                        team members or on my initiative while maintaining high standards
                        of workmanship in all aspects of my work environment.</span>
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="{% static 'vendor_1/images/career-image.jpg' %}" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h4>Career Goal</h4>
                                <p>
                                    I look forward to mastering my skill-sets to
                                    becoming a proficient software developer who
                                    provides "customer-centric" business solutions
                                    using technology as a tool to analyse, design,
                                    and develop identified business needs.
                                </p>
                                <!-- <div class="white-button">
                  <a href="#">Read More</a>
                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-text">
                                <h4>Fun Fact</h4>
                                <p>
                                    My process of unwinding is to either listen to
                                    music or watch a basketball game. Besides, my
                                    taste in music ranges from fuji_songs['KWAM1'] to
                                    afrobeat_songs['Fela'], both of which I listened to
                                    growing up. PS, I love playing basketball too.
                                </p>
                                <!-- <div class="white-button">
                  <a href="#">Read More</a>
                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-image">
                                <img src="{% static 'vendor_1/images/unwind-image.jpg' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section my-services" data-section="section2">
            <div class="container">
                <div class="section-heading">
                    <h2>Skill Sets</h2>
                    <div class="line-dec"></div>
                    <span>Prior to Software Engineering, I served as a class teacher and
                        in this capacity I was able to hone my skill-sets in the following areas:
                        Leadership, Effective Communication, Time Management, Decision Making, and Ownership.
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="first-service-icon service-icon"></div>
                            <h4>HTML5 &amp; CSS3</h4>
                            <p>
                                Develop User-facing Features by Transforming UI/UX
                                Design Wireframes into Code that Produces Visual
                                Elements of the Application.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="second-service-icon service-icon"></div>
                            <h4>JavaScript</h4>
                            <p>
                                Design, Develop, Test, Debug, Deliver, Deploy, and
                                Optimize Applications on the Client-Side, ensuring
                                seamless UI/UX.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="third-service-icon service-icon"></div>
                            <h4>Python/Django</h4>
                            <p>
                                Design, Develop, Test, Debug, Deliver, Deploy, and
                                Maintain Robust and Scalable Applications on the
                                Server-Side (Backend).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="fourth-service-icon service-icon"></div>
                            <h4>SQL</h4>
                            <p>
                                Design, Develop, Test, Collect, Transform, Process,
                                Model, and Secure Data to suit Organisational needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section contact-me" data-section="section4">
            <div class="container">
                <div class="section-heading">
                    <h2>Contact Me</h2>
                    <div class="line-dec"></div>
                    <span>Hi dear, I'm glad that we connected through this Universe of immense information.
                        Please, don't hesitate to reach out. I'm looking forward to hearing from you and
                        probably meet you in person. Daalu!
                    </span>
                </div>
                <div class="row">
                    <div class="right-content">
                        <div class="container">
                            <form id="contact" action="/contact-me/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="first-name" type="text" class="form-control" id="first-name"
                                                placeholder="First name" required />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="last-name" type="text" class="form-control" id="last-name"
                                                placeholder="Last name" required />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="email" type="text" class="form-control" id="email"
                                                placeholder="Email" required />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="subject" type="text" class="form-control" id="subject"
                                                placeholder="Subject" required />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message"
                                                placeholder="Your message..." required></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" value="submit" id="form-submit" class="button">
                                                Send Message
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor_2/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor_2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'vendor_1/js/isotope.min.js' %}"></script>
    <script src="{% static 'vendor_1/js/owl-carousel.js' %}"></script>
    <script src="{% static 'vendor_1/js/lightbox.js' %}"></script>
    <script src="{% static 'vendor_1/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate({
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function (e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>

</html>